_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
desktop.ini
assets/resume/dan_sadatian_resume_260501.md
assets/resume/dan_sadatian_resume_llm_clean.md
assets/resume/DanSadatian-CoverLetter-Template.md
assets/resume/DanSadatian-Resume.md
assets/resume/coverletter/cl-chgpt.md
assets/resume/coverletter/cl-gemflash.md
assets/resume/coverletter/cl-gemini.md
assets/resume/coverletter/cl-sonnet.md
