<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    <div class="button-row">
      <a href="/" class="button-resume">Resume</a>
      <a href="{{ site.baseurl }}/assets/resume/DanSadatian-Resume.pdf" target="_blank" class="button-download">
        <img src="{{ site.baseurl }}/assets/images/download.svg" alt="Download Resume" />
      </a>
    </div>
  </ul>
  <ul class="list-unstyled contact-list">
    <a href="/projects">
      <button class="button button1">Projects</button>
    </a>
  </ul>
</div>